{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="max-width: 70%; margin: 0 auto;">
        <div class="row">
            <div class="col" style="padding: 10px; margin: 10px;">
                {{ form_start(char_create_form) }}
                <div class="fs-2 m-3">{{ form_row(char_create_form.name) }}</div>
                <div class="row m-3">
                    <div class="col-4">
                        <div class="float-start m-1">{{ form_label(char_create_form.health) }}</div>
                        <div class="float-start">{{ form_widget(char_create_form.health, { 'attr' :{'style': 'width: 200px'}}) }}</div>
                    </div>
                    <div class="col-4">
                        <div class="float-start m-1">{{ form_label(char_create_form.wounded) }}</div>
                        <div class="float-start">{{ form_widget(char_create_form.wounded, { 'attr' :{'style': 'width: 200px'}}) }}</div>
                    </div>
                    <div class="col">
                        <div class="float-start m-1">{{ form_label(char_create_form.deathsave) }}</div>
                        <div class="float-start">{{ form_widget(char_create_form.deathsave, { 'attr' :{'style': 'width: 200px'}}) }}</div>
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-2">
                        {{ form_label(char_create_form.stats) }}
                        {{ form_widget(char_create_form.stats, { 'attr' :{ 'class':'form-select', 'style' : 'width: 200px' }}) }}
                    </div>
                    <div class="col" style="margin-left: 10px">
                        {{ form_label(char_create_form.skills) }}
                        {{ form_widget(char_create_form.skills, { 'attr' :{ 'class':'form-select', 'style' : 'width: 200px' }}) }}
                    </div>
                </div>
                <div class="row inventory-buttons">
                    <div class="col">
                        <button type="button" class="btn btn-primary add-another-guns">Add Gun</button>
                        <button type="button" class="btn btn-danger remove-another-guns">Delete Gun</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-primary add-another-gear">Add Gear</button>
                        <button type="button" class="btn btn-danger remove-another-gear">Delete Gear</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-primary add-another-cyberware">Add Cyberware</button>
                        <button type="button" class="btn btn-danger remove-another-cyberware">Delete Cyberware</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <ul class="list-group list-group-flush" id="guns-list"
                            data-prototype="{{ form_widget(char_create_form.guns.vars.prototype)|e }}"
                            data-widget-tags="{{ '<li></li>'|e }}"
                            data-widget-counter="{{ char_create_form.guns|length }}">
                            {{ form_label(char_create_form.guns) }}
                            {% for gun in char_create_form.guns %}
                                <li class="list-group-item guns-list" style="margin: 0 10px 10px 10px; width: 300px">
                                    <div class>{{ form_errors(gun) }}</div>
                                    <div class>{{ form_widget(gun) }}</div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="list-group list-group-flush" id="gear-list"
                            data-prototype="{{ form_widget(char_create_form.gears.vars.prototype)|e }}"
                            data-widget-tags="{{ '<li></li>'|e }}"
                            data-widget-counter="{{ char_create_form.gears|length }}">
                            {{ form_label(char_create_form.gears) }}
                            {% for gear in char_create_form.gears %}
                            <div class="row">
                                <li class="list-group-item gear-list" style="border: none; width: 300px">
                                    {{ form_errors(gear) }}
                                    {{ form_widget(gear) }}
                                </li>
                            </div>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="list-group list-group-flush" id="cyberware-list"
                            data-prototype="{{ form_widget(char_create_form.cyberwares.vars.prototype)|e }}"
                            data-widget-tags="{{ '<li></li>'|e }}"
                            data-widget-counter="{{ char_create_form.cyberwares|length }}">
                            {{ form_label(char_create_form.cyberwares) }}
                            {% for cyberware in char_create_form.cyberwares %}
                                <div class="row">
                                <li class="list-group-item cyberware-list" style="border: none; width: 300px">
                                    <div class="col"></div>
                                    {{ form_errors(cyberware) }}
                                    {{ form_widget(cyberware) }}
                                </li>
                                </div>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <ul class="list-group list-group-flush">
                        {{ form_label(char_create_form.armors) }}
                        {% for ar in char_create_form.armors %}
                            <li class="list-group-item armor-list" style="border: none; width: 300px">
                                {{ form_errors(ar) }}
                                {{ form_widget(ar) }}
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                        <div class="col p-2" style="border: none; width: 300px">
                            <div class="m-1">{{ form_label(char_create_form.bio) }}</div>
                            <div>{{ form_widget(char_create_form.bio, { 'attr': {'style': 'height: 190px'}}) }}</div>
                        </div>
                    <div>
                        {{ form_widget(char_create_form.SAVE, { 'attr': {'class': 'btn btn-primary btn-lg'}, 'label': 'Create'}) }}
                        {{ form_end(char_create_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ asset('js/add-collection-widget.js') }}"></script>
{% endblock %}