{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-center">
        {{ form_start(game_create_form) }}
        <div>
            <div>
                {{ form_label(game_create_form.Name) }}
                {{ form_widget(game_create_form.Name) }}
            </div>
            <div>
                {{ form_label(game_create_form.description) }}
                {{ form_widget(game_create_form.description) }}
            </div>
            <div>
                {{ form_label(game_create_form.gameboardForm) }}
                {% for gameBoard in  game_create_form.gameboardForm%}
                {{ form_widget(gameBoard) }}
                {% endfor %}
            </div>
        </div>
        <div>
            {{ form_widget(game_create_form.submit, { 'attr': {'class': 'btn btn-primary btn-lg'}, 'label': 'Create'}) }}
        </div>
        {{ form_end(game_create_form) }}
    </div>
{% endblock %}