<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CyberPlatform</title>
    {% block stylesheets %}
        <link href="{{ asset('/css/character-style.css') }}" rel="stylesheet"/>
    {% endblock %}
</head>
<body>
{% block body %}
    <a href="{{ path("admin_char_byId_edit", {"id": charcter.id}) }}">Edit Character</a>
    <a href="{{ path("admin_char_byId_delete", {"id": charcter.id}) }}">Delete Character</a>
    <section class="main-row">
        <section class="logo-and-userpic col-1">
            <div class="logo">Logotipchik</div>
            <div class="userpic">User avatar</div>
        </section>
        <section class="col-2">
            <section class="1st-row row">
                <section class="charname-charclass">
                    <div class="char-name">{{ charcter.name }}</div>
                    <div class="char-class">{{ charcter.id }}</div>
                </section>
                <section class="hp-status">
                    <section class="starting-hits hp-status-box">
                        <div class="starting-hits-label hp-status-box-label">starting hits</div>
                        <div class="hp-status-num">{{ charcter.health }}</div>
                    </section>
                    <section class="seriously-wounded hp-status-box">
                        <div class="starting-hits-label hp-status-box-label">seriously wounded</div>
                        <div class="hp-status-num">{{ charcter.wounded }}</div>
                    </section>
                    <section class="death-save hp-status-box">
                        <div class="starting-hits-label hp-status-box-label">death save</div>
                        <div class="hp-status-num">{{ charcter.deathsave }}</div>
                    </section>
                </section>
            </section>
            <section class="stats nd2-row row">
                {% for key, value in charcter.stats %}
                    <div class="{{ key }}-statbox statbox">
                        <div class="{{ key }}-statbox-label statbox-label">{{ key }}</div>
                        <div class="{{ key }}-status status-box">{{ value }}</div>
                    </div>
                {% endfor %}
            </section>
            <section class="3rd-row row">
                <section class="skills">
                    <div class="skills-label">Skills</div>
{#                    {% for skill in charcter.skills %}#}
                        <div>
{#                            {{ skill }}#}
                        </div>
{#                    {% endfor %}#}
                </section>
                <section class="armor armor-weapons">
                    <div class="armor-label">armor</div>
{#                    {% for item in charcter.armor %}#}
                        <div>
{#                            {{ item }}#}
                        </div>
{#                    {% endfor %}#}
                </section>
                <section class="weapons armor-weapons">
                    <div class="weapons-label">weapons</div>
                    {% for key, gun in charcter.weapons %}
                        <div>
                            {{ key }}: {{ gun }}
                        </div>
                    {% endfor %}
                </section>
            </section>
        </section>
    </section>
    <section class="side-row">
        <section class="bio">
            <div class="bio-label">{{ charcter.bio }}</div>
        </section>
        <section class="cyberware cyberware-gear">
            <div class="cyberware-label">cyberware</div>
            <div>1</div>
            <div>2</div>
            <div>3</div>
        </section>
        <section class="gear cyberware-gear">
            <div class="gear-label">gear</div>
            <div>1</div>
            <div>2</div>
            <div>3</div>
        </section>
    </section>
{% endblock %}
</body>
</html>