{% extends 'base.html.twig' %}

    {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link href="{{ asset('/css/character-style.css') }}" rel="stylesheet"/>
    {% endblock %}
{% block body %}
    <a href="{{ path("admin_char_byId_edit", {"id": charcter.id}) }}">Edit Character</a>
    <a href="{{ path("admin_char_byId_delete", {"id": charcter.id}) }}">Delete Character</a>
    <div class="row">
        <div class="logo-and-userpic col-2">
            <div class="logo">Logotipchik</div>
            <div class="userpic">User avatar</div>
            <div class="character-name">{{ charcter.name }} {{ charcter.id }}</div>
        </div>
        <div class="col">
            <div class="row">

                <div class="hp-col">
                    <div class="other-label">Starting hits</div>
                    <div class="other-box health">{{ charcter.health }}</div>
                </div>
                <div class="hp-col">
                    <div class="other-label">Wounded</div>
                    <div class="other-box health">{{ charcter.wounded }}</div>
                </div>
                <div class="hp-col">
                    <div class="other-label">Death save</div>
                    <div class="other-box health">{{ charcter.deathsave }}</div>
                </div>
            </div>
            <div class="nd2-row row">
                {% for key, value in charcter.stats %}
                    <div class="col label-box">
                        <div class="other-label stats-label">{{ key }}</div>
                        <div class="other-box stats">{{ value }}</div>
                    </div>
                {% endfor %}
            </div>
            <div class="3rd-row row">
                <div class="col">
                    <div class="other-label">Skills</div>
                    {#                    {% for skill in charcter.skills %}#}
                    <div class="other-box">
                        {#                            {{ skill }}#}
                    </div>
                    {#                    {% endfor %}#}
                </div>
                <div class="col">
                    <div class="other-label">Armor</div>
                        {% for armor in charcter.armor %}
                    <div class="row" style="padding: 0 10px 0 10px; margin-top: 10px">
                        <div class="col" style="padding-left: 0">
                            <div class="other-box armor-field">Name</div>
                            <div class="other-box armor-field">Head</div>
                            <div class="other-box armor-field">Body</div>
                        </div>
                        <div class="col px-0">
                            <div class="other-box armor-field"> {{ armor.name }} </div>
                            <div class="other-box armor-field"> {{ armor.head }} </div>
                            <div class="other-box armor-field"> {{ armor.body }} </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col">
                    <div class="other-label">Weapons</div>
                        {% for key, gun in charcter.weapons %}
                        <div class="row" style="padding: 0 10px 0 10px; margin-top: 10px">
                                <div class="col other-box" style="margin-right: 10px">
                                    {% for name, damage in gun %}
                                        {{ name }}
                                    {% endfor %}
                                </div>
                                <div class="col other-box">
                                    {% for name, damage in gun %}
                                        {{ damage }}
                                    {% endfor %}
                                </div>
                        </div>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="side-row row">
        <div class="col bio-box">
            <div class="other-label">Bio</div>
            <div class="other-box" style="margin-top: 10px">{{ charcter.bio }}</div>
        </div>
        <div class="col-3">
            <div class="other-label">Cyberware</div>
            {% for cyberware in charcter.cyberware %}
                <div class="name-class other-label" style="margin-top: 10px">{{ cyberware.name }}</div>
                <div class="other-box">{{ cyberware.description }}</div>
            {% endfor %}
        </div>
        <div class="col-3">
            <div class="other-label ">Gear</div>
            {% for gear in charcter.gear %}
                <div class="name-class other-label" style="margin-top: 10px">{{ gear.name }}</div>
                <div class="other-box">{{ gear.description }}</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}