{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                {{ form_start(char_create_form) }}
                {{ form_row(char_create_form.name) }}
                {{ form_row(char_create_form.health) }}
                {{ form_row(char_create_form.wounded) }}
                {{ form_row(char_create_form.deathsave) }}
                {{ form_row(char_create_form.stats) }}
                <div><button type="button"
                             class="btn btn-primary add-another-gun">Add gun</button>
                    <button type="button"
                            class="btn btn-danger remove-another-gun">Delete gun</button>
                </div>
                <ul class="list-group list-group-flush" id="guns-list"
                    data-prototype="{{ form_widget(char_create_form.guns.vars.prototype)|e }}"
                    data-widget-tags="{{ '<li></li>'|e }}"
                    data-widget-counter="{{ char_create_form.guns|length }}">
                    {% for gun in char_create_form.guns %}
                        <li class="list-group-item guns-list">
                            {{ form_errors(gun) }}
                            {{ form_widget(gun) }}
                        </li>
                    {% endfor %}
                </ul>


                {% for ar in char_create_form.armors %}
                    <li class="list-group-item guns-list">
                        {{ form_errors(ar) }}
                        {{ form_widget(ar) }}
                    </li>
                {% endfor %}

                {{ form_row(char_create_form.bio) }}
                {{ form_row(char_create_form.SAVE) }}
                {{ form_end(char_create_form) }}
            </div>
            <div class="col">
            </div>
        </div>
    </div>
    <script src="{{ asset('js/add-collection-widget.js') }}"></script>
{% endblock %}