{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ asset("css/board-style.css") }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
{% endblock %}
{% block header %}
{% endblock %}
{% block body %}
    <div class="d-flex flex-column">
        <div class="row p-2">
            <div class="col-2 m-3">
            <div class="row" style="font-size: 30px">Paste character</div>
                <div class="row">
                    <div style="margin-bottom: 10px" class="col-7">
                        <select class="form-select-md" id="figuremaker" style="width: 160px">
                            <option value="<img src='{{ asset('icons/WomanSolo.svg') }}' alt='WomanFull'/>">Solo</option>
                            <option value="<img src='{{ asset('icons/Netrunner.svg') }}' alt='Netrunner'/>" selected="selected">Netrunner</option>
                            <option value="<img src='{{ asset('icons/Mechanic.svg') }}' alt='Mechanic'/>">Mechanic</option>
                            <option value="<img src='{{ asset('icons/Nomad.svg') }}' alt='Nomad'/>">Nomad</option>
                        </select>
                    </div>
                    <div class="spawn-figure-box my-auto col-1" style="width: 80px; height: 80px"></div>
                </div>
            </div>
            <div class="col-2 m-3">
                <div class="row" style="font-size: 30px">Remove character</div>
                <div class="remove-figure-box col p-4">place figure here</div>
            </div>
            <div class="col-2 m-3">
                <div class="row" style="font-size: 30px">Choose gun</div>
                <div class="row">
                    <select class="form-select-md" id="weaponmaker" style="width: 160px">
                        <option value="1">Pistol</option>
                        <option value="2" selected="selected">Sniper</option>
                        <option value="3">Rifle</option>
                    </select>
                </div>
            </div>
        </div>

    </div>

    <div style="min-width: 1536px" id="chessBoard" data-field="{{ gameboard.board }}" data-line="{{ gameboard.linelenght }}" data-characters="{{ gameboard.characters|join(',') }}"></div>

    <script src="{{ asset("js/draw-board.js") }}"></script>
{% endblock %}