{% extends 'base.html.twig' %}
{% block body %}
{{ set firstEl = games|first }}
    <h1>First game #{{ firstEl.id }}</h1>
    <p>

        {{ firstEl.desctiprion }}
        {{ firstEl.gameadmin }}
    </p>


<table>
    {% for item in games %}
        <tr>
            <td> {{ item.id }} </td>
            <td> {{ item.description }} </td>
            <td> {{ item.gameadmin }} </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}