{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset("css/board-style.css") }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div id="chessBoard" data-field="{{ gameboard.board }}" data-line="{{ gameboard.linelenght }}"></div>
    <div> {{ path('game_board_byId', {id: 1}) }}</div>
    <script src="{{ asset("js/draw-board.js") }}"></script>
{% endblock %}