{% extends 'base.html.twig' %}


{% block body %}
    <head>
        <link href="{{ asset('css/main__menu__page.css') }}" rel="stylesheet">
    </head>
    <section name="main">
        <div class="main-content">
            <div class="news-body d-flex flex-row flex-wrap">
                {% for post in posts %}
                <div class="card mx-3 my-3" style="width: 19rem; height: 32em;">
                    <img class="card-img-top" src="{{ post.urlAvatars }}" alt="Card image cap" style="max-height: 168px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.name }}</h5>
                        <p class="card-text" style="max-height: 220px; overflow: hidden;">{{ post.description }}</p>
                    </div>
                    <div class="card-footer bg-transparent"><span class="time_post">Date post: {{ post.dateCreatePost|date("d.m.Y") }}</span></div>
                </div>
                {% endfor %}
            </div>
            <div class="right-menu">
                <div class="d-flex align-items-start flex-column">
                    {% if is_granted('ROLE_USER') %}
                        <div class="p-2"><a href="{{ path("member_profile", {"id": app.user.id}) }}">My Profile</a></div>
                        <div class="p-2"><a href="{{ path("members_list") }}">User List</a></div>
                    {% endif %}
                    {% if is_granted('ROLE_GAMEMASTER') %}
                        <div class="p-2"><a href="{{ path("gamemaster_create_char") }}">Create Character for game</a></div>
                        <div class="p-2"><a href="{{ path("gamemaster_character_list") }}">Character List</a></div>
                        <div class="p-2"><a href="{{ path("gamemaster_create_game") }}">Create new game</a></div>
                        <div class="p-2"><a href="{{ path("gamemaster_list_game") }}">View all game</a></div>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="p-2"><a href="/admin">Admin Panel</a></div>
                        <div class="p-2"><a href="/admin/help">Admins Help</a></div>
                        <div class="p-2"><a href="{{ path("admin_char_list") }}">Characters List</a></div>
                        <div class="p-2"><a href="{{ path("admin_post_create") }}">Create Post</a></div>
                    {% endif %}
                </div>
            </div>
        </div>

    </section>
{% endblock %}