{% extends 'base.html.twig' %}


{% block body %}
    <p style="padding: 100px 300px"> Now, repository is in work , we try fast complete :) </p>
    <p style="padding: 0 300px; float: right"> <span class="badge badge-info">Info</span> Your roles in system: <br>
        {% for role in app.user.roles %}
            <br>
            <span class="badge badge-success">Success</span> {{ role }} <br>
            {% if role == 'ROLE_USER' %}
                <a href="{{ path("member_profile", {"id": app.user.id}) }}">Your Profile</a> <br>
                <a href="{{ path("members_list") }}">Users list</a><br>
            {%endif %}

            {% if role == 'ROLE_ADMIN' %}
                <a href="/admin">Admin Panel</a> <br>
                <a href="/admin/help/createUser">Create User</a><br>
                <a href="{{ path("admin_char_list") }}">Characters List</a>
            {%endif %}
            {% if role == 'ROLE_GAMEMASTER' %}
                <a href="{{ path("gamemaster_create_char") }}">Create Character for game</a> <br>
                <a href="{{ path("gamemaster_character_list") }}">Character List</a> <br>
                <a href="{{ path("gamemaster_create_game") }}">Create new game</a> <br>
                <a href="{{ path("gamemaster_list_game") }}">View all game</a> <br>
                <a href="{{ path("game_board_byId", {'id': 1}) }}">Test1</a>

            {% endif %}
    {% endfor %}</p>

{% endblock %}
