{% extends 'base.html.twig' %}


{% block body %}
    <head>
        <link href="{{ asset('css/main__menu__page.css') }}" rel="stylesheet">
    </head>
    <section name="main">
        <div class="main-content">
            <div class="news-body d-flex flex-row flex-wrap">
                {% for post in posts %}
                <div class="card mx-3 my-3" style="width: 19rem; height: 32em;">
                    <img class="card-img-top" src="{{ post.urlAvatars }}" alt="Card image cap" style="max-height: 168px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.name }}</h5>
                        <p class="card-text" style="max-height: 220px; overflow: hidden;">{{ post.description }}</p>
                    </div>
                    <div class="card-footer bg-transparent"><span class="time_post">Date post: {{ post.dateCreatePost|date("d.m.Y") }}</span></div>
                </div>
                {% endfor %}
            </div>
            <div class="right-menu">
                <div class="d-flex align-items-start flex-column">
                    {% if is_granted('ROLE_USER') %}
                        <div class="side-div"><a href="{{ path("member_profile", {"id": app.user.id}) }}"><div class="p-2">My Profile</div></a></div>
                        <div class="side-div"><a href="{{ path("members_list") }}"><div class="p-2">User List</div></a></div>
                    {% endif %}
                    {% if is_granted('ROLE_GAMEMASTER') %}
                        <div class="side-div"><a href="{{ path("gamemaster_create_char") }}"><div class="p-2">Create Character for game</div></a></div>
                        <div class="side-div"><a href="{{ path("gamemaster_character_list") }}"><div class="p-2">Character List</div></a></div>
                        <div class="side-div"><a href="{{ path("gamemaster_create_game") }}"><div class="p-2">Create new game</div></a></div>
                        <div class="side-div"><a href="{{ path("gamemaster_list_game") }}"><div class="p-2">View all game</div></a></div>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="side-div"><a href="/admin"><div class="p-2">Admin Panel</div></a></div>
                        <div class="side-div"><a href="/admin/help"><div class="p-2">Admins Help</div></a></div>
                        <div class="side-div"><a href="{{ path("admin_char_list") }}"><div class="p-2">Characters List</div></a></div>
                        <div class="side-div"><a href="{{ path("admin_post_create") }}"><div class="p-2">Create Post</div></a></div>
                    {% endif %}
                </div>
            </div>
        </div>

    </section>
{% endblock %}