{% extends 'base.html.twig'%}
{% block body %}
    <head>
        <link href="{{ asset('css/profile_style.css') }}" rel="stylesheet">
    </head>
    member id:
    {{ member.id }}<br>
    member name:
    {{ member.username }}<br>
    <select name="" id="">


    {% for role in member.roles %}
        <option value="">{{ role }}</option>
    {% endfor %}
    </select>
    <br><br>
    <a href="/">back to main menu</a>

    <div class="main-profile-content">
        <h1>Профиль пользователя {{ member.username }}</h1>
        <div class="border-profile">

        </div>
    </div>
{% endblock %}
