<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Hi, {{ app.user.username }}{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link href="{{ asset('css/header_style.css') }}" rel="stylesheet">
            <link href="{{ asset('css/footer_style.css') }}" rel="stylesheet">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}
        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>

    {% block header %}
        <div class="header">
            <div class="header__main">
                <div class="d-flex justify-content-start">
                    <div class="top-div"><a href="/mm"><div class="p-3">Home</div></a></div>
                    <div class="top-div red-button" style="background-color: #e34a4e;"><a href="{{ path("gamemaster_create_game") }}"><div class="p-3">Create Game</div></a></div>
                    <div class="top-div"><a href="#"><div class="p-3">Sign up</div></a></div>
                    <div class="top-div"><a href="#"><div class="p-3">Sign in</div></a></div>
                </div>
            </div>
        </div>
    {% endblock %}
    <body>
        {% block body %}
            База.хтмл
        {% endblock %}
    </body>
    {% block footer %}
        <div class="footer">
            <div class="footer__main">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <b>Полезные ссылки</b> <br><br>
                            <a href="/faq">FAQ</a> <br>
                            <a href="/admin/help">Документация для администратора</a> <br>
                            <a href="/gamemaster/help">Документация для гейммастера</a> <br>
                            <a href="/user/help">Документация для пользователя</a> <br>
                            <a href="/documation/info">Правовая информация</a> <br>
                            <a href="/documation/rights">Правовая документация</a> <br>
                        </div>
                        <div class="col">
                            <b>Навигация по сайту</b> <br><br>
                            <a href="/mm">Главное меню</a> <br>
                            <a href="/admin/panel">Панель администрация</a> <br>
                            <a href="/gamemaster/panel">Панель гейммастера</a> <br>
                        </div>
                        <div class="col">
                            <b>Социальные сети</b> <br><br>
                            <a href="#">Группа ВК</a> <br>
                            <a href="#">YouTube канал</a> <br>
                            <a href="#">наш Forum</a> <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
</html>
